<!DOCTYPE html>
<html>
  <head>
    <title>MagnyHub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li><%= link_to "Main", welcome_index_path %></li>
      <li><%= link_to "About us", welcome_about_path %></li>
    </ul>

    <%= yield %>
  </body>
</html>
